NEXT_PUBLIC_API_URL=https://corpers-connect-server-production.up.railway.app
NEXT_PUBLIC_WS_URL=https://corpers-connect-server-production.up.railway.app
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=do4przxhk
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=corpers_connect
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_xxxx
NEXT_PUBLIC_AGORA_APP_ID=xxxx
NEXT_PUBLIC_FIREBASE_API_KEY=xxxx
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxxx
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xxxx
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxxx
NEXT_PUBLIC_FIREBASE_APP_ID=xxxx
NEXT_PUBLIC_FIREBASE_VAPID_KEY=xxxx
NEXT_PUBLIC_APP_URL=http://localhost:3000
